@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --primary: #fe2c55;
  --back: #000;
  --white: #fff;
  --a-hover: rgb(22, 24, 35);
  --icon-check: rgb(32, 213, 236);
  --search-background-clolor: rgba(22, 24, 35, 0.06);
  --defaulLayout-width: 1150px;
  --sideBar-width: 356px;

  --btn-background-color-hover: rgba(22, 24, 35, 0.03);
  --btn-background-color-active: rgba(22, 24, 35, 0.06);

  --btn-color-search: rgba(22, 24, 35, 0.34);
  --btn-color-when-text: rgba(22, 24, 35, 0.75);
  --btn-width: 52px;

  --btn-clear-color: rgba(22, 24, 35, 0.34);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
}
a {
  text-decoration: none;
  &:hover {
    color: var(--back);
  }
}
input,
button {
  border: none;
  outline: none;
}
